.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
    padding: 0 10px;
    width: 60%;
    caret-color:#fff;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{

    color: #fff;
}

.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
}


.list-item {
    border-bottom: 1px solid #eee !important;
    padding: 10px;
    margin: 0;
    cursor: pointer;
}

.list-item:hover {
    background: rgb(247, 173, 34);
    border-radius: 7px;
}

.list {
    position: absolute;
    top: 65px;
    border: 1px solid #000;
    background: white;
    border-radius: 13px;
    right: 100px;
    z-index: 100000;
    width: 200px;
}